html {
  /* scroll-behavior: smooth; */
  scroll-behavior: auto;
}

html,
body {
  /*  height: 100%; */
  overflow: hidden; /* блокуємо стандартний скрол */
}

/* Поважаємо користувачів з reduced motion */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-primary-light);
  background-color: var(--color-primary-dark);
  font-family: 'Kreadon', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  height: auto;
  object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section {
  height: var(--app-h);
  min-height: var(--app-h);
  width: 100%;

  @media screen and (min-width: $bp-tablet) {
    scroll-margin-top: 85px;
  }
}

input,
textarea,
select {
  font-size: 16px;
}
