@font-face {
  font-display: swap;
  font-family: 'Europe C';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/europe-extended-c.woff2') format('woff2'),
    url('../fonts/europe-extended-c.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Europe C';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/europe-extended-c-bold.woff2') format('woff2'),
    url('../fonts/europe-extended-c-bold.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Kreadon';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/kreadon.woff2') format('woff2'),
    url('../fonts/kreadon.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/plus-jakarta-sans-400.woff2') format('woff2'),
    url('../fonts/plus-jakarta-sans-400.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/plus-jakarta-sans-700.woff2') format('woff2'),
    url('../fonts/plus-jakarta-sans-700.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/plus-jakarta-sans-800italic.woff2') format('woff2'),
    url('../fonts/plus-jakarta-sans-800italic.woff') format('woff');
}
