@font-face {
  font-display: swap;
  font-family: 'Europe C';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/europe-extended-c.woff2') format('woff2'),
    url('../fonts/europe-extended-c.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Kreadon';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/kreadon.woff2') format('woff2'),
    url('../fonts/kreadon.woff') format('woff');
}
