.text-uppercase {
  text-transform: uppercase;
}

.text-brand {
  color: var(--color-brand);
}

.text-bold {
  font-weight: 700;
}

.text-extrabold-italic {
  font-style: italic;
  font-weight: 800;
}
