.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.fake-line {
  opacity: 0;
}

.is-scroll-disabled {
  position: fixed;
  overflow: hidden;
  width: 100%;
  left: 0;
  right: 0;
  top: var(--lock-top, 0px);
  touch-action: none;
}
