/* .changing-word {
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}
 */
.changing-word {
  animation: blink 0.8s infinite;
  display: inline-block;
}

.static-text span {
  white-space: pre;
}

.fade-char {
  opacity: 0;
  transform: translateY(8px);
  display: inline-block;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Додаємо fadeIn при друку */
.fade-char.show {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}
