.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  gap: 12px;

  @media screen and (min-width: $bp-tablet) {
    bottom: 32px;
    right: 32px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;
    border-radius: 50%;

    background: linear-gradient(
      180deg,
      rgba(58, 0, 128, 0.9) 0%,
      rgba(26, 26, 26, 0.1) 100%
    );
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition:
      background 0.4s ease,
      transform 0.3s ease;

    @media screen and (min-width: $bp-desktop) {
      width: 64px;
      height: 64px;
    }

    &:hover {
      background: linear-gradient(
        180deg,
        rgba(191, 118, 213, 0.15) 0%,
        rgba(216, 128, 236, 0.95) 100%
      );
      transform: translateY(-6px) scale(1.1);
    }
  }

  &__icon {
    transition: fill 0.3s ease;

    &--whatsapp {
      fill: #15aa35;
    }
  }
}
