.input {
  margin-bottom: 25px;

  &__label {
    /* margin-bottom: 5px; */
    font-size: 16px;
    line-height: 1.75;
  }

  &__control {
    position: relative;
    margin-top: 5px;
    padding: 18px 30px;
    width: 100%;
    max-width: 100%;
    color: var(--color-primary-light);
    font-family: inherit;
    font-size: 18px;
    line-height: 1.3;
    border: 1px solid rgba(255, 255, 255, 0.35); //check later
    border-radius: 14px;

    /*   background-color: rgba(255, 255, 255, 0.068); */
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15.16px);
    -webkit-backdrop-filter: blur(15.16px);
    box-shadow:
      -11.15px -10.39px 48px -12px rgba(0, 0, 0, 0.15),
      -1.86px -1.73px 12px -8px rgba(0, 0, 0, 0.15),
      inset 2.15px 2px 9.24px 0 rgba(255, 255, 255, 0.126),
      inset 1.22px 1.13px 4.62px 0 rgba(255, 255, 255, 0.126);

    &:focus-within {
      box-shadow: 0 6px 12px 1px #7200ff;
    }

    &:focus,
    &:not(:placeholder-shown) {
      outline: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      caret-color: transparent;
      outline: none;
      -webkit-text-fill-color: white;
      -webkit-box-shadow:
        0 0 0 1000px #000000 inset,
        0 6px 12px 1px #7200ff;
    }

    &--message {
      vertical-align: top;
      resize: none;
    }
  }
}
