.services-card__border {
  position: relative;
  border-radius: 20px;
  padding: 1px;
  background:
    linear-gradient(180deg, rgba(41, 41, 41, 1), rgba(41, 41, 41, 0.1)),
    var(--color-primary-dark);

  transition: box-shadow 0.2s ease-in-out;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  &:hover {
    box-shadow: 0 12px 24px 1px #7200ff;
  }
}

.services-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  gap: 1.5625rem; */
  gap: 30px;
  padding: 12px 8px;

  @media screen and (max-width: 767px) and (max-height: 620px) {
    gap: 16px;
  }

  @media screen and (min-width: $bp-tablet) and (max-width: 1139px) and (max-height: 700px) {
    gap: 16px;
  }

  &__image {
    width: 136px;
    height: auto;

    @media screen and (max-width: 767px) and (max-height: 620px) {
      width: calc(136px - (620px - 100dvh));
    }

    @media screen and (min-width: $bp-tablet) {
      width: 172px;
    }

    @media screen and (min-width: $bp-tablet) and (max-width: 1139px) and (max-height: 700px) {
      width: calc(172px - (700px - 100dvh));
    }

    @media screen and (min-width: $bp-laptop) {
      width: 136px;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 172px;
    }
  }

  &__text-container {
    line-height: 1.5;
    text-align: center;
  }

  &__text-container--restricted {
    /* padding: 0 2rem; */
    padding: 0 8px;

    @media screen and (min-width: $bp-tablet) {
      padding: 0 16px;
    }

    @media screen and (min-width: $bp-laptop) {
      padding: 0 8px;
    }

    @media screen and (min-width: $bp-desktop) {
      padding: 0 16px;
    }
  }

  &__title {
    margin-bottom: 1.25rem;
    /* padding: 0 1.25rem; */
    font-size: 16px;
    letter-spacing: 0.03em;

    @media screen and (min-width: $bp-tablet) {
      font-size: 20px;
    }

    @media screen and (min-width: $bp-laptop) {
      font-size: 16px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 20px;
    }
  }

  &__main-text {
    font-size: 14px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 18px;
    }

    @media screen and (min-width: $bp-laptop) {
      font-size: 14px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 18px;
    }
  }
}

.services-card__border .services-card {
  background-color: rgb(18, 5, 40);
  border-radius: 19px;

  @media screen and (min-width: $bp-laptop) {
    background:
      linear-gradient(180deg, rgba(48, 42, 93, 0) 0%, rgba(48, 42, 93, 1) 100%),
      linear-gradient(
        180deg,
        rgba(32, 32, 32, 0.2) 0%,
        rgba(32, 32, 32, 0) 100%
      ),
      var(--color-primary-dark);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    transition: background 0.2s ease;

    &:hover {
      background:
        linear-gradient(180deg, rgba(48, 42, 93, 0.2), rgba(48, 42, 93, 0)),
        linear-gradient(180deg, rgba(32, 32, 32, 0.2), rgba(32, 32, 32, 0)),
        var(--color-primary-dark);
    }
  }
}
