.contact-section {
  /* padding: 30px 0 164px; */

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /*  margin-top: 24px; */
    /* margin: 0 -96px; */

    margin: 0 max(-220px, calc(-96px - max(0px, calc(650px - 100vh))));

    @supports (height: 100dvh) {
      margin: 0 max(-220px, calc(-96px - max(0px, calc(650px - 100dvh))));
    }
  }

  &__br {
    @media screen and (min-width: $bp-laptop) {
      display: none;
    }
  }

  ////////////////////////////////////////////////////////
  &__input-part__border {
    /* margin-top: clamp(0px, 3vw, 24px); */
    position: relative;
    width: 100%;
    max-width: 700px;
    border-radius: 20px;
    padding: 1px;
    background:
      linear-gradient(180deg, rgba(106, 34, 234, 1), rgba(114, 0, 255, 0.2)),
      var(--color-primary-dark);

    transition: box-shadow 0.2s ease-in-out;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    &:hover {
      box-shadow: 0 12px 24px 1px #7200ff;
    }
  }

  &__input-part {
    padding-inline: clamp(
      48px,
      calc(48px + (100vw - 375px) * (72 - 48 / 300)),
      72px
    );
    padding-block: 18px;

    position: relative;
    overflow: hidden;
  }

  .contact-section {
    &__thank-you-message {
      position: absolute;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 24px 32px;
      text-align: center;
      font-size: 1.5rem;
      border-radius: 19px;
      z-index: 2;

      opacity: 0;
      transform: translateY(30px);
      pointer-events: none;

      &--visible {
        pointer-events: auto;
        animation: contact-thankyou-slide-up 1s ease-out forwards;
      }
    }
  }

  @keyframes contact-thankyou-slide-up {
    0% {
      opacity: 0;
      transform: translateY(30px); // нижче
    }
    60% {
      opacity: 1;
      transform: translateY(-8px); // трохи вище фінальної позиції
    }
    100% {
      opacity: 1;
      transform: translateY(0); // повертаємось на місце
    }
  }

  &__preloader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #5f5761a6;
    z-index: 1;
  }

  &__preloader-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    background-image: url('./images/preloader.gif');
    transform: translate(-50%, -50%);
    z-index: 999;
  }

  &__contact-info-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
  }

  &__address {
    @media screen and (min-width: $bp-desktop) {
      position: absolute;
      bottom: 66px;
    }
  }

  &__address-item {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 1;

    &:last-child {
      margin: 0;
    }
  }

  &__address-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: var(--color-copyright);
    text-decoration: none;

    & svg {
      color: var(--color-icons);
    }

    &-placemark-icon {
      margin-bottom: 6px;
    }
  }
}

.contact-section__input-part__border .contact-section__input-part {
  background:
    linear-gradient(180deg, rgba(48, 42, 93, 0) 0%, rgba(48, 42, 93, 1) 100%),
    linear-gradient(180deg, rgba(32, 32, 32, 0.2) 0%, rgba(32, 32, 32, 0) 100%),
    var(--color-primary-dark);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 19px;

  transition: background 0.2s ease;

  &:hover {
    background:
      linear-gradient(180deg, rgba(48, 42, 93, 0.2), rgba(48, 42, 93, 0)),
      linear-gradient(180deg, rgba(32, 32, 32, 0.2), rgba(32, 32, 32, 0)),
      var(--color-primary-dark);
  }
}
