.hero-section {
  position: relative;
  display: flex;
  align-items: center;

  background-image: url('/images/hero-background-image.avif');
  background-repeat: no-repeat;
  background-size: auto 72%;
  background-position: calc(
      -192px + ((100vw - 375px) / 2) + ((100vh - 667px) * -0.39)
    )
    110px;

  @supports (height: 100dvh) {
    background-position: calc(
        -192px + ((100vw - 375px) / 2) + ((100dvh - 667px) * -0.39)
      )
      110px;
  }

  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/images/hero-background-image@2x.avif');
  }

  @media screen and (min-width: $bp-tablet) {
    background-size: auto 90.6%;
    background-position: calc(
        -358px + ((100vw - 768px) / 2) + ((100vh - 920px) * -0.39)
      )
      132px;

    @supports (height: 100dvh) {
      background-position: calc(
          -358px + ((100vw - 768px) / 2) + ((100dvh - 920px) * -0.39)
        )
        132px;
    }
  }

  @media screen and (min-width: $bp-desktop) {
    background-size: auto 100%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    @media screen and (min-width: $bp-tablet) {
      gap: 72px;
    }

    @media screen and (min-width: $bp-laptop) {
      flex-direction: row;
      /*   justify-content: space-between; */
      justify-content: center;
    }

    @media screen and (min-width: $bp-desktop) {
      gap: 100px;
    }
  }

  &__left-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media screen and (min-width: $bp-laptop) {
      align-items: flex-start;
      gap: 45px;
      /* max-width: 432px; */
      max-width: 392px;
    }

    @media screen and (min-width: $bp-desktop) {
      gap: 60px;
      max-width: 100%;
    }
  }

  &__title,
  &__text {
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      max-width: 480px;
    }

    /* @media screen and (min-width: $bp-laptop) {
      max-width: 520px;
    } */
  }

  &__title {
    font-family: 'Europe C', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 1;

    @media screen and (min-width: $bp-tablet) {
      font-size: 48px;
    }

    @media screen and (min-width: $bp-laptop) {
      text-align: start;
      font-size: 45px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 60px;
    }
  }

  &__text {
    max-width: 350px;
    font-size: 14px;
    line-height: 1.4;

    @media screen and (min-width: $bp-tablet) {
      max-width: 480px;
      font-size: 20px;
      text-align: start;
    }

    @media screen and (min-width: $bp-laptop) {
      max-width: 100%;
      font-size: 18px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 20px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 1.8rem;

    @media screen and (min-width: $bp-tablet) {
      gap: 1.5rem;
    }

    @media screen and (min-width: $bp-laptop) {
      /* justify-content: space-between; */
      width: 100%;
      /* padding-inline: 12px; */
    }
  }

  &__image {
    display: inline-block;

    &--mobile {
      @media (min-width: $bp-tablet) {
        display: none;
      }
    }

    &--tablet {
      display: none;

      @media (min-width: $bp-tablet) {
        display: block;
      }

      @media (min-width: $bp-laptop) {
        display: none;
      }
    }

    &--laptop {
      display: none;

      @media (min-width: $bp-laptop) {
        display: block;
      }

      @media (min-width: $bp-desktop) {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @media (min-width: $bp-desktop) {
        display: block;
      }
    }
  }

  &__running-stroke-wrapper {
    min-height: 64px;

    @media (min-width: $bp-tablet) {
      min-height: 100%;
    }
  }

  &__running-stroke {
    padding-top: 12px;
    max-width: 180px;
    height: 100%;

    font-family: 'Europe C', sans-serif;
    font-size: 22px;
    line-height: 1.1;
    text-align: center;

    @media (min-width: $bp-tablet) {
      max-width: 100%;
      font-size: 36px;
    }

    @media (min-width: $bp-laptop) {
      padding-top: 24px;
      padding-left: 36px;
      font-size: 26px;
      text-align: start;
    }

    @media (min-width: $bp-desktop) {
      font-size: 36px;
    }
  }
}
