.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100dvh;
  padding: 24px 32px;
  background: linear-gradient(
    180deg,
    var(--color-background-light) 0%,
    var(--color-primary-dark) 80%
  );
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
  overflow-y: auto;

  &.is-open {
    transform: translateX(0);
  }

  &__btn-close {
    position: absolute;
    top: 32px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    fill: transparent;
    stroke: var(--color-primary-light);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__logo {
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-block: 24px;
    padding-left: 8px;
  }

  &__logo-text {
    position: absolute;
    bottom: 36px;
    left: 50%;
    transform: translateX(-50%);
  }
}
