.portfolio-section {
  background: linear-gradient(
    180deg,
    var(--color-background-light) 0%,
    var(--color-primary-dark) 63.91%
  );

  &__container {
    width: 100%;
    max-width: 1328px;
    margin: 0 auto;
  }

  &__image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*  object-fit: fill; */

    &--mobile {
      @media screen and (min-width: $bp-tablet) {
        display: none;
      }
    }

    &--tablet {
      display: none;

      @media screen and (min-width: $bp-tablet) {
        display: block;
      }

      @media screen and (min-width: $bp-laptop) {
        display: none;
      }
    }

    &--laptop {
      display: none;

      @media screen and (min-width: $bp-laptop) {
        display: block;
      }
    }
  }

  &__collage-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-top: 32px;
    padding-block: 12px;
  }
}

.swiper {
  width: 100%;
  max-width: 311px;
  aspect-ratio: 311 / 419;
  margin: 0 auto;

  @media screen and (min-width: $bp-tablet) {
    max-width: 540px;
    aspect-ratio: 540 / 565;
  }

  @media screen and (min-width: $bp-laptop) {
    max-width: 1018px;
    aspect-ratio: 1018 / 422;
  }
}
