.services-section {
  /* padding-bottom: 1.5rem; */
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    180deg,
    var(--color-primary-dark) 74.35%,
    var(--color-background-light) 100%
  );

  &__list {
    /* justify-content: center;
    gap: 30px; */

    @media screen and (min-width: $bp-laptop) {
      justify-content: center;
      gap: 30px;
    }
  }

  &__item.swiper-slide {
    width: 180px; // мобілка
    flex: 0 0 180px; // щоб не стискалося
  }

  @media screen and (min-width: $bp-tablet) {
    &__item.swiper-slide {
      width: 232px;
      flex-basis: 232px;
    }
  }

  @media screen and (min-width: $bp-laptop) {
    &__item.swiper-slide {
      width: 180px;
      flex-basis: 180px;
    }
  }

  @media screen and (min-width: $bp-desktop) {
    &__item.swiper-slide {
      width: 232px;
      flex-basis: 232px;
    }
  }
}
